---
layout: default
---
{% for post in paginator.posts %}
{% if forloop.index == 1 %}
                <div class="phalcon-blog__last-article">
                    <div class="phalcon-blog__item">
                        <div class="phalcon-blog__item-content">
                            <div class="phalcon-blog__item-title">
                                <a href="{{ post.url }}">{{ post.title }}</a>
                            </div>
                            <div class="phalcon-blog__item-info">
                                <div class="phalcon-blog__item-date">
                                    {{ post.date | date: "%b %d, %Y" }}
                                </div>
                                <div class="phalcon-blog__item-author">
                                    Phalcon Team
                                </div>
                            </div>
                            <div class="phalcon-blog__item-article">
                                {{ post.excerpt }}
                            </div>
                            <a href="{{ post.url }}"
                               class="phalcon-blog__item-read-more">Read More</a>
                        </div>
<!--                        <a href="#" class="phalcon-blog__item-img">-->
<!--                            <img src="img/elephant.jpg" alt="">-->
<!--                        </a>-->
                    </div>
                </div>
                <div class="phalcon-blog__main-title">
                    LATEST POSTS
                </div>
                <div class="phalcon-blog__items">
{% else %}
                    <div class="phalcon-blog__item">
                        <div class="phalcon-blog__item-content">
                            <div class="phalcon-blog__item-title">
                                <a href="{{ post.url }}">{{ post.title }}</a>
                            </div>
                            <div class="phalcon-blog__item-info">
                                <div class="phalcon-blog__item-date">
                                    {{ post.date | date: "%b %d, %Y" }}
                                </div>
                                <div class="phalcon-blog__item-author">
                                    Phalcon Team
                                </div>
                            </div>
                            <div class="phalcon-blog__item-article">
                                {{ post.excerpt }}
                            </div>
                            <a href="{{ post.url }}"
                               class="phalcon-blog__item-read-more">Read More</a>
                        </div>
<!--                        <a href="#" class="phalcon-blog__item-img">-->
<!--                            <img src="img/elephant.jpg" alt="">-->
<!--                        </a>-->
                    </div>
{% endif %}
{% endfor %}
                </div>


