---
---

//
// IMPORTS
//

@import "reset";
// Syntax highlighting @import is at the bottom of this file

/*! CSS Used from: https://cdn.jsdelivr.net/g/fontawesome@4.7.0,bootstrap@3.3.7(css/bootstrap.min.css),highlight.js@9.11.0(styles/monokai-sublime.min.css),font-lato@2.0 */
.pull-right{float:right;}
.pull-left{float:left;}
.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;}
header,nav,section{display:block;}
a{background-color:transparent;}
a:active,a:hover{outline:0;}
strong{font-weight:700;}
img{border:0;}
svg:not(:root){overflow:hidden;}
pre{overflow:auto;}
code,pre{font-family:monospace,monospace;font-size:1em;}
button{margin:0;font:inherit;color:inherit;}
button{overflow:visible;}
button{text-transform:none;}
button{-webkit-appearance:button;cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
@media print{
  *,:after,:before{color:#000!important;text-shadow:none!important;background:0 0!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
  a,a:visited{text-decoration:underline;}
  a[href]:after{content:" (" attr(href) ")";}
  a[href^="javascript:"]:after{content:"";}
  blockquote,pre{border:1px solid #999;page-break-inside:avoid;}
  img{page-break-inside:avoid;}
  img{max-width:100%!important;}
  h2,h3,p{orphans:3;widows:3;}
  h2,h3{page-break-after:avoid;}
  .navbar{display:none;}
}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html{font-size:10px;-webkit-tap-highlight-color:rgba(0,0,0,0);}
body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff;}
button{font-family:inherit;font-size:inherit;line-height:inherit;}
a{color:#337ab7;text-decoration:none;}
a:focus,a:hover{color:#23527c;text-decoration:underline;}
a:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
img{vertical-align:middle;}
.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0;}
[role=button]{cursor:pointer;}
h2,h3,h4,h5{font-family:inherit;font-weight:500;line-height:1.1;color:inherit;}
h2,h3{margin-top:20px;margin-bottom:10px;}
h4,h5{margin-top:10px;margin-bottom:10px;}
h2{font-size:30px;}
h3{font-size:24px;}
h4{font-size:18px;}
h5{font-size:14px;}
p{margin:0 0 10px;}
.text-center{text-align:center;}
.page-header{padding-bottom:9px;margin:40px 0 20px;border-bottom:1px solid #eee;}
ul{margin-top:0;margin-bottom:10px;}
ul ul{margin-bottom:0;}
blockquote{padding:10px 20px;margin:0 0 20px;font-size:17.5px;border-left:5px solid #eee;}
blockquote p:last-child{margin-bottom:0;}
code,pre{font-family:Menlo,Monaco,Consolas,"Courier New",monospace;}
code{padding:2px 4px;font-size:90%;color:#c7254e;background-color:#f9f2f4;border-radius:4px;}
pre{display:block;padding:9.5px;margin:0 0 10px;font-size:13px;line-height:1.42857143;color:#333;word-break:break-all;word-wrap:break-word;background-color:#f5f5f5;border:1px solid #ccc;border-radius:4px;}
pre code{padding:0;font-size:inherit;color:inherit;white-space:pre-wrap;background-color:transparent;border-radius:0;}
.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
@media (min-width:768px){
  .container{width:750px;}
}
@media (min-width:992px){
  .container{width:970px;}
}
@media (min-width:1200px){
  .container{width:1170px;}
}
.row{margin-right:-15px;margin-left:-15px;}
.col-md-10,.col-md-2,.col-md-3,.col-md-9{position:relative;min-height:1px;padding-right:15px;padding-left:15px;}
@media (min-width:992px){
  .col-md-10,.col-md-2,.col-md-3,.col-md-9{float:left;}
  .col-md-10{width:83.33333333%;}
  .col-md-9{width:75%;}
  .col-md-3{width:25%;}
  .col-md-2{width:16.66666667%;}
}
.btn{display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:4px;}
.btn:active:focus,.btn:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn:focus,.btn:hover{color:#333;text-decoration:none;}
.btn:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125);}
.btn-danger{color:#fff;background-color:#d9534f;border-color:#d43f3a;}
.btn-danger:focus{color:#fff;background-color:#c9302c;border-color:#761c19;}
.btn-danger:hover{color:#fff;background-color:#c9302c;border-color:#ac2925;}
.btn-danger:active{color:#fff;background-color:#c9302c;border-color:#ac2925;}
.btn-danger:active:focus,.btn-danger:active:hover{color:#fff;background-color:#ac2925;border-color:#761c19;}
.btn-danger:active{background-image:none;}
.collapse{display:none;}
.caret{display:inline-block;width:0;height:0;margin-left:2px;vertical-align:middle;border-top:4px dashed;border-top:4px solid\9;border-right:4px solid transparent;border-left:4px solid transparent;}
.dropdown{position:relative;}
.dropdown-toggle:focus{outline:0;}
.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;min-width:160px;padding:5px 0;margin:2px 0 0;font-size:14px;text-align:left;list-style:none;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0,0,0,.15);border-radius:4px;-webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);box-shadow:0 6px 12px rgba(0,0,0,.175);}
.dropdown-menu .divider{height:1px;margin:9px 0;overflow:hidden;background-color:#e5e5e5;}
.dropdown-menu>li>a{display:block;padding:3px 20px;clear:both;font-weight:400;line-height:1.42857143;color:#333;white-space:nowrap;}
.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover{color:#262626;text-decoration:none;background-color:#f5f5f5;}
@media (min-width:768px){
  .navbar-right .dropdown-menu{right:0;left:auto;}
}
.nav{padding-left:0;margin-bottom:0;list-style:none;}
.nav>li{position:relative;display:block;}
.nav>li>a{position:relative;display:block;padding:10px 15px;}
.nav>li>a:focus,.nav>li>a:hover{text-decoration:none;background-color:#eee;}
.navbar{position:relative;min-height:50px;margin-bottom:20px;border:1px solid transparent;}
@media (min-width:768px){
  .navbar{border-radius:4px;}
}
@media (min-width:768px){
  .navbar-header{float:left;}
}
.navbar-collapse{padding-right:15px;padding-left:15px;overflow-x:visible;-webkit-overflow-scrolling:touch;border-top:1px solid transparent;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.1);box-shadow:inset 0 1px 0 rgba(255,255,255,.1);}
@media (min-width:768px){
  .navbar-collapse{width:auto;border-top:0;-webkit-box-shadow:none;box-shadow:none;}
  .navbar-collapse.collapse{display:block!important;height:auto!important;padding-bottom:0;overflow:visible!important;}
}
.container>.navbar-collapse,.container>.navbar-header{margin-right:-15px;margin-left:-15px;}
@media (min-width:768px){
  .container>.navbar-collapse,.container>.navbar-header{margin-right:0;margin-left:0;}
}
.navbar-brand{float:left;height:50px;padding:15px 15px;font-size:18px;line-height:20px;}
.navbar-brand:focus,.navbar-brand:hover{text-decoration:none;}
@media (min-width:768px){
  .navbar>.container .navbar-brand{margin-left:-15px;}
}
.navbar-toggle{position:relative;float:right;padding:9px 10px;margin-top:8px;margin-right:15px;margin-bottom:8px;background-color:transparent;background-image:none;border:1px solid transparent;border-radius:4px;}
.navbar-toggle:focus{outline:0;}
.navbar-toggle .icon-bar{display:block;width:22px;height:2px;border-radius:1px;}
.navbar-toggle .icon-bar+.icon-bar{margin-top:4px;}
@media (min-width:768px){
  .navbar-toggle{display:none;}
}
.navbar-nav{margin:7.5px -15px;}
.navbar-nav>li>a{padding-top:10px;padding-bottom:10px;line-height:20px;}
@media (min-width:768px){
  .navbar-nav{float:left;margin:0;}
  .navbar-nav>li{float:left;}
  .navbar-nav>li>a{padding-top:15px;padding-bottom:15px;}
}
.navbar-nav>li>.dropdown-menu{margin-top:0;border: none}
@media (min-width:768px){
  .navbar-right{float:right!important;margin-right:-15px;}
}
.alert{padding:15px;margin-bottom:20px;border:1px solid transparent;border-radius:4px;}
.alert-info{color:#31708f;background-color:#d9edf7;border-color:#bce8f1;}
.alert-warning{color:#8a6d3b;background-color:#fcf8e3;border-color:#faebcc;}
.alert-danger{color:#a94442;background-color:#f2dede;border-color:#ebccd1;}
.container:after,.container:before,.nav:after,.nav:before,.navbar-collapse:after,.navbar-collapse:before,.navbar-header:after,.navbar-header:before,.navbar:after,.navbar:before,.row:after,.row:before{display:table;content:" ";}
.container:after,.nav:after,.navbar-collapse:after,.navbar-header:after,.navbar:after,.row:after{clear:both;}
.pull-right{float:right!important;}
#articles .pull-right{margin-top: -24px;}
.ais-hits #articles .pull-right{margin-top: 0;}
.pull-left{float:left!important;}
.hljs{display:block;overflow-x:auto;padding:0.5em;background:#23241f;}
.hljs{color:#f8f8f2;}
.hljs-keyword,.hljs-name{color:#f92672;}
.hljs-string,.hljs-built_in,.hljs-template-variable{color:#e6db74;}
/*! CSS Used from: https://static.phalconphp.com/www/css/phalcon.min.css */
h4{text-transform:uppercase;}
h2,h3,h4{font-weight:700;}
button,section{text-align:center;}
header .dropdown-menu{background:#fff;}
header .dropdown-menu li a{font-size:12px;color:#4d4a4c;text-shadow:none;background:8px 6px no-repeat;padding:4px 0 4px 32px;}
.nav>li>a:focus,.nav>li>a:hover{background-color:transparent;color:#e0f6ec;}
nav:hover{background:0 0!important;}
header .main-menu{margin-top:38px;}
header .main-menu li{margin:0 3px;}
header .main-menu li a{color:#fff;font-size:17px;padding:8px 18px;}
header .main-menu li a:hover{color:#e0f6ec;background-color:transparent;}
header .dropdown-menu li {
  margin: 0;}
header .dropdown-menu li a {color: #4d4a4c;text-shadow: none; font-size: 14px; padding: 3px 20px}
header .dropdown-menu li a:hover{background-color:#f5f5f5;color:#4d4a4c;}
button{border:none;}
h2{margin-top:0;}
body{background:#eeeff1;font-family:Arial,Helvetica,sans-serif;font-size:16px;font-size:1.6rem;line-height:1.5;color:#8f96a9;}
button{color:#fff;font-size:18px;line-height:50px;width:250px;}
button:hover{background:#81c4a8;}
h2,h3,h4,h5{font-family:lato,sans-serif;color:#474c56;}
a{color:#65D38D;}
h2{font-size:36px;font-size:3.6rem;}
h3{font-size:22px;font-size:2.2rem;}
h4{font-size:26px;font-size:2.6rem;}
button{background:#65D38D;}
button:hover{background:#81c4a8;}
section{background:#eeeff1;}
section{padding-top:30px;}
.page-header{background:url(//static.phalconphp.com/www/images/flat_v3/texture.png) repeat-x;}
section p{color:#8f96a9;margin:23px 0 0;}
.page-header{margin:0;border:none;padding-top:20px;-webkit-box-shadow:0 0 3px 0 rgba(37,82,95,.9);box-shadow:0 0 3px 0 rgba(37,82,95,.9);z-index:100;}
/*! CSS Used from: https://blog.phalconphp.com/css/style.3.1.2.css */
p{margin:0 0 10px;line-height:24px;}
#wrapper #articles{padding:10px 20px 15px;text-align:left;background:#fafafa;}
#wrapper #articles img{width:100%;}
#wrapper #content{padding-top:0;margin-top:30px;}
#wrapper #sidebar{padding-top:0;margin-top:0;}
#sidebar .widget{margin-bottom:1em;}
#sidebar .hr{padding-top:5px;padding-bottom:5px;border-bottom:1px solid #000000;}
#wrapper li{line-height:24px;}
#wrapper ul{margin-top:15px;}
#wrapper p{color:#333;}
.content-body{margin-bottom:30px;}
h3,h4{font-size:20px;line-height:24px;font-weight:normal;margin:17px 0 3px;border-bottom:1px solid #c0c0c0;text-transform:none;}
code{font-size:13px;}
h2,h3{border-bottom:1px solid #c0c0c0;}
.horizontal-ruler{padding:20px;color: #404040;font-size:12px;}
h2{font-size:26px;}
.tags-container{margin-bottom:20px;}
.heading h2{color:#fff;border:none;}
.post-date{color:#969696;font-size:12px;}
div#articles a{color:#005399;}
blockquote{font-size:14px;}
.heading{background:rgba(35, 56, 66, .98) none repeat scroll 0 0;padding:20px 0;font-size:24px;font-weight:700;margin:0;border:none;}
.heading h2{padding:0;margin:0;color:#fff;font-weight:normal;font-size:30px;}
section{padding-top:0;}
@media screen and (min-width: 992px){
  header .phalcon-logo{margin-left:0;display:block;width:200px;height:90px;background:url(//static.phalconphp.com/www/images/phalcon.png) 0 0/200px 90px no-repeat;}
}
.page-header{margin:0;border:none;padding-top:20px;-webkit-box-shadow:0 0 3px 0 rgba(37, 82, 95, 0.9);box-shadow:0 0 3px 0 rgba(37, 82, 95, 0.9);background:url("https://static.phalconphp.com/www/images/flat_v3/texture.png") repeat-x;z-index:100;}
#sponsors{text-align:center;}
#sponsors a{margin:20px 15px 0;position:relative;}
#sponsors a,#sponsors img{width:100px;display:inline-block;vertical-align:middle;}
#sponsors img{transition:all 0.3s ease;filter:contrast(0%);}
#sponsors img:hover{filter:none;}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";

.search-searchbar {
  position: relative;
  width: 100%;
}

.ais-search-box {
  position:absolute;
}

.widget a{
  color: #fafafa;
}

.widget a:hover{
  color: #fafafa;
}

// commento plugin, custom

.commento-root .commento-avatar-img {
  width: 38px !important;
}
