p {
  margin: 0 0 10px;
  line-height: 24px;
}

#wrapper #content .post .title {
    font-size: 28px;
    color: #000;
    display: block;
    line-height: 32px;
    margin: 0 0 10px;
}

#wrapper #content .post .copy {
    color: #000;
    font-size: 16px;
}

#wrapper #articles {
    padding: 10px 20px 15px;
    text-align: left;
    background: #fafafa;
}

#wrapper #articles img {
    width: 100%;
}

#wrapper #sidebar #description {
    margin-bottom: 10px;
    font-size: 1.7rem;
}

#wrapper #content .post .copy blockquote {
    color: #333;
    line-height: 24px;
    padding: 10px;
    background: #fafafa;
    text-align: left;
}

#wrapper #content .bottom,
#wrapper #sidebar #bottom {
    background: none;
}

#wrapper #content {
    padding-top: 0;
    margin-top: 30px;
}

#wrapper #sidebar {
    padding-top: 0;
    margin-top: 0;
}

#sidebar .widget {
    margin-bottom: 1em;
}

#sidebar .hr {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #000000;
}
#wrapper li {
    line-height: 24px;
}

#wrapper ul {
    margin-top: 15px;
}

#wrapper p {
    color: #333;
}

#wrapper #content .post .copy pre.sh_sourceCode, pre.sh_sourceCode {
    border: none;
    border-left: 3px solid #0ec281;
    border-radius: 0;
    background: #f5f5f5;
    color: #111;
    margin-top: 7px;
    margin-bottom: 7px;
}

#wrapper #content .post .footer {
    background: #fafafa;
    color: #717171;
    padding: 20px;
    margin-bottom: 15px;
}

#wrapper #content .post .copy pre.sh_sourceCode span.sh_symbol,
#wrapper #content .post .copy pre.sh_sourceCode span.sh_cbracket, pre.sh_sourceCode span.sh_symbol, pre.sh_sourceCode span.sh_cbracket {
    color: #99968b;
}

#wrapper #content .post .copy pre.sh_sourceCode span.sh_keyword, pre.sh_sourceCode span.sh_keyword {
    color: #8ac6f2;
}

#wrapper #content .post em {
    color: #717171;
}

h3, h4 {
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    margin: 17px 0 3px;
    border-bottom: 1px solid #c0c0c0;
}

#wrapper #content .post .copy p {
    margin: 10px 0 0 0;
    padding: 0;
    line-height: 26px;
}

#wrapper #content .post .copy pre.sh_sourceCode span.sh_string,
pre .sh_sourceCode span.sh_string {
    color: #95e454;
}

#wrapper #content .post .copy pre.sh_sourceCode span.sh_function,
pre.sh_sourceCode span.sh_function {
    color: #cae682;
}

pre.prettyprint {
    padding: 8px;
}

.heading a {
    color: #fff;
}

h1 {
    margin-bottom: 30px;
    font-size: 4.0rem;
}

code {
    font-size: 13px;
}

h2, h3 {
    border-bottom: 1px solid #c0c0c0;
}

.horizontal-ruler {
    padding: 20px;
    color: #dadada;
    font-size: 12px;
}

.h2, h2 {
  font-size: 26px;
}

.tags-container {
    margin-bottom: 20px;
}

.heading h2 {
    color: #fff;
    border: none;
}

.post-date {
    color: #969696;
    font-size: 12px;
}

.tag-cloud {
    color: #005399;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.tag-cloud a:link, .tag-cloud a:visited {
    text-decoration: none;
    color: #3a8bbb;
}

.tag-cloud a:hover {
    text-decoration: underline;
}

.tag-cloud span {
    padding: 4px;
}

.tag-cloud span > a {
    font-size: 1.2em;
}

div#articles a {
    color: #005399;
}

blockquote {
    font-size: 14px;
}

.kwd {
    color: #C678DD;
}

.header-line {
    min-width:980px;
    height: 87px;
    background: #42aaa9  url('https://static.phalconphp.com/images/header-line.jpg') 50% 0 no-repeat;
    margin: 0 0 20px; overflow: hidden;
}

.header-line-title {
    font-size:48px;
    line-height: 50px;
    padding: 20px 0;
    margin: 0;
}

.heading {
    background: rgba(35, 56, 66, .98) none repeat scroll 0 0;
    padding: 20px 0;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    border: none;
}

.heading h2 {
    padding: 0;
    margin: 0;
    color: #fff;
    font-weight: normal;
    font-size: 30px;
}

section {
    padding-top: 0;
}

/* Carbon Ads */
#carbonads {
    overflow: hidden;
}

.carbon-wrap {
    zoom: 1;
    display: block;
    padding: 15px 10px;
    border: 0 solid #dadada;
}

.carbon-wrap img {
    display: block;
    margin: 0 auto 8px;
}

#carbonads a {
    display: block;
}

.carbon-text {
    font-size: 80%;
    color: #717171;
}

.carbon-poweredby {
    font-size: 70%;
    color: #6e6e6e;
}

@media screen and (min-width: 992px) {
    header .phalcon-logo {
        margin-left: 0;
        display: block;
        width: 200px;
        height: 90px;
        background: url(//static.phalconphp.com/www/images/phalcon.png) 0 0/200px 90px no-repeat;
    }
}

@media (min-width: 576px) {
    .carbon-wrap {
        border-width: 1px;
        border-radius: 4px;
    }
}

.page-header {
    margin: 0; border: none; padding-top: 20px;
    -webkit-box-shadow: 0 0 3px 0 rgba(37, 82, 95, 0.9);
    box-shadow: 0 0 3px 0 rgba(37, 82, 95, 0.9);
    background:url("https://static.phalconphp.com/www/images/flat_v3/texture.png") repeat-x;
    z-index: 100;
}


/**
 * Sponsors div
 */
#sponsors {
    text-align: center;
}

#sponsors .white-bg {
    padding-top: 25px;
    padding-bottom: 25px;
}

#sponsors h4 {
    color: #999;
    margin: 0 0 10px;
}

#sponsors a {
    margin: 20px 15px 0;
    position: relative;
}

#sponsors a,
#sponsors img {
    width: 100px;
    display: inline-block;
    vertical-align: middle;
}

#sponsors img {
    transition: all 0.3s ease;
    filter: contrast(0%);
}

#sponsors img:hover {
    filter: none;
}

#sponsors a.gold {
    display: block;
    margin: 30px auto 15px;
    width: 200px;
}

#sponsors a.gold img {
    width: 200px;
}

