                        <div id="articles">
                            <div class="row">
                                <div class="col text-center">
                                    {% if paginator.page > 1 %}
                                    <a href="{{ site.app.url }}{{ paginator.previous_page_path }}">
                                    {% endif %}
                                        <button type="button" class="btn btn-info" style="width: 40px;">
                                            <i class="far fa-caret-square-left"></i>
                                        </button>
                                    {% if paginator.page > 1 %}
                                    <!--{ if paginator.previous_page }-->
                                    </a>
                                    {% endif %}
                                    <button type="button" class="btn btn-primary">
                                        {{ paginator.page }} / {{ paginator.total_pages }}
                                    </button>
                                    {% if paginator.page < paginator.total_pages %}
                                    <a href="{{ site.app.url }}{{ paginator.next_page_path }}">
                                    {% endif %}
                                        <button type="button" class="btn btn-info" style="width: 40px;">
                                            <i class="far fa-caret-square-right"></i>
                                        </button>
                                    {% if paginator.page < paginator.total_pages %}
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
