<hr />

<p>Chat - Q&amp;A</p>

<ul>
    <li><a href="https://phalcon.io/discord">Discord Chat</a></li>
    <li><a href="https://phalcon.io/forum">Forum</a></li>
</ul>

<p>Support</p>

<ul>
    <li><a href="https://phalcon.io/fund">OpenCollective - Support Us</a></li>
    <li><a href="https://phalcon.io/store">Store - Merchandise</a></li>
</ul>

<p>Social Media</p>

<ul>
    <li><a href="https://phalcon.io/telegram">Telegram</a></li>
    <li><a href="https://phalcon.io/gab">Gab</a></li>
    <li><a href="https://phalcon.io/mewe">MeWe</a></li>
    <li><a href="https://phalcon.io/parler">Parler</a></li>
    <li><a href="https://phalcon.io/reddit">Reddit</a></li>
    <li><a href="https://phalcon.io/fb">Facebook</a></li>
    <li><a href="https://phalcon.io/t">Twitter</a></li>
</ul>

<p>Videos</p>

<ul>
    <li><a href="https://phalcon.io/bitchute">BitChute</a></li>
    <li><a href="https://phalcon.io/brighteon">Brighteon</a></li>
    <li><a href="https://phalcon.io/lbry">LBRY</a></li>
    <li><a href="https://phalcon.io/youtube">YouTube</a></li>
</ul>

<p>&lt;3 Phalcon Team</p>
