            <div class="col-md-3 content-sidebar">
                <div id="sidebar">
                    <div class="widget">
                        <div id="search-searchbar"></div>
                        <div id="search-hits"></div>
                    </div>
                    <div class="hr"></div>
                    <div class="widget">
                        <p>
                            <a href="https://phalcon.link/fund">
                                <button class="btn button-small btn-danger">
                                    Support Us
                                </button>
                            </a>
                        </p>
                        <div id="sponsors">
                            <a href="https://pdffiller.com/" target="_blank">
                                <img width="240px"
                                     src="/assets/images/backers/pdffiller-240x60.png">
                            </a>
                            <a href="https://mctekk.com/phalcon" target="_blank">
                                <img width="240px"
                                     src="/assets/images/backers/mctekk-240x60.png">
                            </a>
                            <a href="https://abits.com/" target="_blank">
                                <img width="240px"
                                     src="/assets/images/backers/abits-240x60.png">
                            </a>
                        </div>
                    </div>
                    <div class="hr"></div>
                    <div class="widget">
                        <div class="description text-justify">
                            We are an open source web framework for PHP delivered as
                            a C extension offering high performance and lower
                            resource consumption
                        </div>
                    </div>
                    <div class="hr"></div>
                    <div class="widget">
                        <div class="description">
                            {% assign tags = site.tags | sort %}
                            {% for tag in tags %}
                            <span>
                                <a href="/tags#{{ tag | first | slugify }}">
                                    {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
                                </a>
                            </span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
