            <div class="col-md-3 content-sidebar">
                <div id="sidebar">
                    <div class="widget">
                        <a href="https://phalcon.link/github"><i class="fab fa-2x fa-github-square"></i></a>
                        <a href="/feed.xml"><i class="fas fa-2x fa-rss-square"></i></a>
                        <a href="https://phalcon.link/f"><i class="fab fa-2x fa-facebook-square"></i></a>
                        <a href="https://phalcon.link/t"><i class="fab fa-2x fa-twitter-square"></i></a>
                    </div>
                    <div class="hr"></div>
                    <div class="widget">
                        <p>
                            <a href="https://phalcon.link/fund">
                                <button class="btn button-small btn-danger">
                                    Support Us
                                </button>
                            </a>
                        </p>
                        <div id="sponsors">
                            <a href="https://pdffiller.com/" target="_blank">
                                <img width="240px"
                                     src="/assets/images/backers/pdffiller-240x60.png">
                            </a>
                            <a href="https://mctekk.com/phalcon" target="_blank">
                                <img width="240px"
                                     src="/assets/images/backers/mctekk-240x60.png">
                            </a>
                            <a href="https://abits.com/" target="_blank">
                                <img width="240px"
                                     src="/assets/images/backers/abits-240x60.png">
                            </a>
                        </div>
                    </div>
                    <div class="hr"></div>
                    <div class="widget">
                        <div class="description text-justify">
                            We're a nonprofit organization that creates solutions for web developers.
                            Our products are <a href="https://phalconphp.com/en/" target="_blank">Phalcon</a>,
                            <a href="https://zephir-lang.com/en" target="_blank">Zephir</a> and
                            <a href="https://github.com/phalcon?type=source" target="_blank">others</a>.
                            If you would like to help us stay free and open, please consider 
                            <a href="https://phalcon.link/fund" arget="_blank">supporting us</a>.
                        </div>
                    </div>
                    <div class="hr"></div>
                    <div class="widget">
                        <div class="description">
                            {% capture siteTags %}
                            {% for tag in site.tags %}
                                {% if tag[1].size > 0 and tag[1].size < 10 %}
                                    {{ tag[1].size | prepend: '00' }}#
                                {% elsif tag[1].size > 9 and tag[1].size < 100 %}
                                    {{ tag[1].size | prepend: '0' }}#
                                {% else %}
                                    {{ tag[1].size }}#
                                {% endif %}
                                {{ tag[1].size }}#
                                {{ tag | first | downcase }}#
                                {{ tag | first }}{% unless forloop.last %},{% endunless %}
                            {% endfor %}
                            {% endcapture %}

                            {% assign tagHashes = siteTags | split:',' | sort %}
                            {% for hash in tagHashes reversed %}
                                {% if forloop.index < 40 %}
                                {% assign keyValue = hash | split: '#' %}
                            <span class="badge badge-info">
                                <a href="/tags#{{ keyValue[2] | strip | slugize }}">
                                    {{ keyValue[3] | strip  }} ({{ keyValue[1] | strip }})
                                </a>
                            </span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
