			<div class="phalcon-blog__right-item phalcon-blog__sponsors">
				<div class="phalcon-blog__title">
					Supporters
				</div>
				<div class="phalcon-blog__sponsors-items">
					<a href="https://pdffiller.com" class="phalcon-blog__sponsors-item">
						<img src="https://assets.phalconphp.com/phalcon/images/backers/pdffiller-164x34.svg"
							 alt="PDFfiller">
					</a>
					<a href="https://mctekk.com" class="phalcon-blog__sponsors-item">
						<img src="https://assets.phalconphp.com/phalcon/images/backers/mctekk-149x34.svg"
							 alt="{mctekk}">
					</a>
					<a href="https://abits.com" class="phalcon-blog__sponsors-item">
						<img src="https://assets.phalconphp.com/phalcon/images/backers/abits-100x34.svg"
							 alt="Abits">
					</a>
					<a href="https://algolia.com" class="phalcon-blog__sponsors-item">
						<img src="https://assets.phalconphp.com/phalcon/images/backers/algolia-725x360.svg"
							 alt="Algolia">
					</a>
					<a href="https://phalcon.link/fund" class="phalcon-blog__sponsors-item">
						<span>Support Us</span>
					</a>
				</div>
			</div>
