                <div class="phalcon-blog__right-item phalcon-blog__tags">
                    <div class="phalcon-blog__title">
                        Tags
                    </div>
                    <div class="phalcon-blog__tags-items">
                        {% for override in site.tags_override %}
                            {% for tag in site.tags %}
                                {% if tag[0] == override %}
                        <a href="/tags#{{ tag | first | strip | slugify }}"
                           class="phalcon-blog__tags-item">
                            <span>{{- tag | first | strip -}}</span>
                            <span>({{- tag | last | size | strip -}})</span>
                        </a>
                                    {% continue %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <a href="/tags" class="phalcon-blog__item-read-more">Show More</a>
                </div>

