				<div class="phalcon-blog__right-item phalcon-blog__tags">
					<div class="phalcon-blog__title">
						Tags
					</div>
					<div class="phalcon-blog__tags-items">
						{% capture siteTags %}
							{% for tag in site.tags %}
								{% if tag[1].size > 0 and tag[1].size < 10 %}
									{{ tag[1].size | prepend: '00' }}#
								{% elsif tag[1].size > 9 and tag[1].size < 100 %}
									{{ tag[1].size | prepend: '0' }}#
								{% else %}
									{{ tag[1].size }}#
								{% endif %}
								{{ tag[1].size }}#
								{{ tag | first | downcase }}#
								{{ tag | first }}{% unless forloop.last %},{% endunless %}
							{% endfor %}
						{% endcapture %}

						{% assign tagHashes = siteTags | split:',' | sort %}
						{% for hash in tagHashes reversed %}
							{% if forloop.index < 13 %}
								{% assign keyValue = hash | split: '#' %}
						<a href="/tags#{{ keyValue[2] | strip | slugify }}"
						   class="phalcon-blog__tags-item">
							<span>{{ keyValue[3] | strip }}</span>
							<span>({{ keyValue[1] | strip }})</span>
						</a>
							{% endif %}
						{% endfor %}
					</div>
					<a href="/tags" class="phalcon-blog__item-read-more">Show More</a>
				</div>

