---
layout: default
---

                <div id="articles">
                    <div class="row">
                        <h2 itemprop="name headline">
                            {{ page.title | escape }}
                        </h2>
                    </div>
                    <div>
                        {{ content }}
                        <span class="pull-right"><small>[{{ page.date | date: "%Y-%m-%d" }}]</small></span>
                    </div>

                    {%- if site.disqus.shortname -%}
                    {%- include disqus_comments.html -%}
                    {%- endif -%}
                </div>
